body {
  margin: 0;
  padding: 0;
	font-family: lora, new times roman;
}

/* NAV BAR */

.nav {
  padding: 0 24px;
	background-color: #A68A99;
  color: white;
	height: 50px;
  justify-content: space-between;
	align-items: center;
}

li {
	color: #fff;
}
li a {
	color: #fff;
	text-decoration: none;
}

li a:hover {
  outline: 1px dotted #fff;
  color:#F2A950;
}

/* INTRO - JUMBOTRON */

.jumbotron {
  background-image: url(../Images/backgroundimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 6%;
  color:#fff;
}

.jumboCopy {
width: 70%;
min-width: 500px;
max-width: 700px;
color: #4ba173;
}

p {
  color: #4ba173;
}

.text {
  color: white;
}

.lead {
  color: white;
}
.surv {
  color: #4ba173;
}


.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}

.container {
  align-items: center;
  padding-top: 5%;
}

.research {
  padding-left: 6%;
}


/* Footer */


.footerNavigation {
	display: flex;
	align-items: center;
	background-color: #A68A99;
	height: 50px;
}